body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.slogan {
    font-size: 32px;
    font-weight: 800;
    margin: 2vh 0;
    font-size: 32px;
    font-weight: 800;
}

#background {
    width: 100%;
}

.start{
    padding: 3vh 5vw; 
    text-align: center;
}

.btn {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
}

.join {
    margin-bottom: 18px;
    background-color: #0057FF;
    border: none;
    color: white;
}

.sign {
    background-color: white;
    border-color: #0057FF;
    color: #0057FF;
}

#users {
    background-color: #0057FF;
    width: 100%;
    margin-top: -56px;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.statNumber {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 0;
}

.statDes {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

#feedHeader {
    font-weight: 800;
    font-size: 24px;
    margin: 25px 15px;
}

.tweetContainer {
    display: flex;
    margin: 15px;
}

.avatar {
    height: 100%;
}

.nameAndTime {
    display: flex;
    justify-content: space-between;
}

.nameAndTime p{
    margin: 0;
}

.tweet {
    margin-left: 15px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
}

.name {
    font-size: 14px;
    font-weight: 700;
    color: #1D1E22;
}

.nickname {
    font-size: 14px;
    font-weight: 400;
    color: #ABACB1;
}

.timeAgo {
    font-size: 10px;
    font-weight: 400;
    color: #ABACB1;
    text-align: end;
}

.tweetText {
    font-size: 16px;
    font-weight: 400;
    color: #1D1E22;
    margin: 10px 0;
}

.tweetText img {
    width: 100%;
    margin-top: 10px;
}

.stat {
    display: flex;
}

.stat span{
    font-size: 14px;
    font-weight: 400;
    color: #B1B1B1;
    margin-right: 30px;
}

.stat img{
    height: 15px;
    margin-right: 8px;
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9998;
}

.popup h2 {
    font-size: 26px;
    font-weight: 800;
    margin: 20px 0; 
    font-weight: 800;
}

.popup input {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
}

.popup input::placeholder{
    color: #B1B1B1;
}

.active{
    display: block;
}

.greyLine{
    background-color: #ABACB1;
    width: 50px;
    height: 5px;
    margin: 0 auto;
    border-radius: 3px;
}